@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: var(--font-raleway);
}

html,
body {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
.raleway {
  font-family: var(--font-raleway);
}
h1,
h2 {
  font-family: var(--font-eb-garamond);
}

h2 + p {
  font-family: var(--font-inter);
}

nav ul li {
}

a[data-active] {
  color: #8f2d26;
  font-weight: 600;
}

nav ul li a:not([data-active]) {
  color: #4a4a4a;
  transition: color 0.3s ease;
}

nav ul li a:not([data-active]):hover {
  color: #8f2d26;
}

.p-viewport {
  font-size: calc(12px + 0.5vw);
}

form {
  font-size: clamp(1rem, 0.8256rem + 0.8584vw, 0.375rem);
}

input {
  border-radius: 8px;
}

input[type="checkbox"] {
  accent-color: #ffeeed;
  border: 1px solid #8f2d26;
}
/* 
input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  transform: scale(0);
  background-color: green;
} */


.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.marquee-content {
  display: flex;
  align-items: center;
  animation: scrolling 20s linear infinite;
}

.marquee-item {
  flex: 0 0 20vw;
  margin: 0 1vw;
  display: flex;
  justify-content: center;
}

td {
  border: 0.5px solid #344563;
  border-collapse: collapse;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.imp {
  font-weight: 600;
  font-size: x-large;
}

/* locomotive-scroll.css */
